@model DB2019Course.Models.IndPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IndPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoneMarker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoneMarker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Readiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Readiness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aspirant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aspirant.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
