@model IEnumerable<DB2019Course.Models.Exam>

@{
    ViewBag.Title = "Экзамены";
}

<h2>Экзамены</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auditory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Corp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })|
                @Html.ActionLink("Результаты", "Exam", "Results", new { id = item.Id }, null)
            </td>
        </tr>
    }
    @Html.ActionLink("Поиск по дате", "Find", "Exams", null, null)

</table>
