@model DB2019Course.Models.Voting

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Голосование</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Not_Voted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Not_Voted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { author = Model.AuthorPass, id = Model.Defence.Number }) |
    @Html.ActionLink("Распечатать", "Print", new { author = Model.AuthorPass, id = Model.Defence.Number }) |
    @Html.ActionLink("К защите", "Details", "Defences", new { author = Model.AuthorPass, id = Model.Defence.Number }, null)
</p>
