@model IEnumerable<DB2019Course.Models.Result>

@{
    ViewBag.Title = "Оценки";
}

<h2>Оценки</h2>

<p>
    @{
        if (ViewBag.ExamId != null)
        {
            @Html.ActionLink("Добавить", "Create", new { id = ViewBag.ExamId})
            }
        }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Result1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aspirant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.Subject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Result1)
        </td>
        <td>
            @Html.ActionLink(item.Aspirant.Name+" "+ item.Aspirant.SurName + " "+ item.Aspirant.LastName,
           "Details","Aspirants", new {id = item.PassId },null )
        </td>
        <td>
            @Html.ActionLink(item.Exam.Subject, "Index", "Exams", null, null);
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { author = item.PassId, id = item.ExamId }) |
            @Html.ActionLink("Удалить", "Delete", new { author = item.PassId, id = item.ExamId })
        </td>
    </tr>
}

</table>
